{% extends "base.html.twig" %}

{% block content %}
	<section style="background-color:#000000">
		<h2 style="color:#ffffff">Current Moon Phase</h2>
		<p style="font-size:10em; text-align:center;">
			{{ moonphase|raw }}
			<br/>&nbsp;
		</p>
	</section>
{% endblock %}
